/* 
ZigZag Template
http://www.templatemo.com/tm-471-zigzag
*/

/* --** Reset CSS **-- */
* { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; 	-moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
html, body, button, input, select, textarea { font-family: Arial; font-size: 12px; color: #8c806e; }


/* <<< Body >>> */
body { 
	background: #fff; 
	font-family: 'Open Sans', sans-serif;
}
	

.section-titles {
   
    text-align: center;
    color: #000;
    margin-top:15px;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .borders {
    width: 160px;
    height: 2px;
    background: #017a9a;
    margin: 20px auto;
  }
	/* <<< Container >>> */
	#Container { overflow: hidden; width: 100%; }

	/* <<< Middle Section >>> */
	.Middle_sec { width: 100%; overflow: hidden; background: #222a36 url(../assets/sollication-bg.jpg) top center no-repeat; }
	.Middle_sec .Center { max-width: 1098px; margin: auto; overflow: hidden; }
	.Middle_sec #Leftside { width: 51.00%; float: left; position: relative; }
	.Middle_sec #Leftside .Client { width: 374px; text-align: center; padding: 139px 141px 150px 142px; background: url(../assets/Client-bg.png) top center no-repeat; margin-top: -1px; }
	.Middle_sec #Leftside .Client img { margin: auto auto 16px; border-radius: 50%; }
	.Middle_sec #Leftside .Client h3 { font-size: 14px; color: #fff; margin: 0px; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform:uppercase; font-style:italic; }
	.Middle_sec #Leftside .Client1 { padding: 70px 60px 130px 70px; position: absolute; top: 188px; left: 33.5%; text-align: center; background: url(../assets/Client-bg1.png) top center no-repeat; width: 374px; }
	.Middle_sec #Leftside .Client1 img { width:100px; margin: auto; border-radius: 50%; }
	.Middle_sec #Leftside .Client1 p { padding: 3px 0px 10px 0px; font-size: 14px; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 400; font-style:italic; margin:0px; letter-spacing: -0.2px;}
	.Middle_sec #Leftside .Client1 h3 { font-size: 14px; color: #fff; margin: 0px; font-family: 'Open Sans', sans-serif; text-transform:uppercase; font-weight: 600; }

	.Middle_sec #Leftside .Client2 { padding: 94px 50px 120px 53px; margin-top:-8%; text-align: center; background: url(../assets/Client-bg.png) top center no-repeat;width: 374px; }
	.Middle_sec #Leftside .Client2 img { margin: auto auto 16px; border-radius: 50%; }
	.Middle_sec #Leftside .Client2 p { font-size: 14px; color: #fff; font-family: 'Open Sans', sans-serif; font-style:italic;}
	.Middle_sec #Leftside .Client2 h3 { font-size: 14px; color: #fff; margin: 0px; font-family: 'Open Sans', sans-serif; text-transform:uppercase; font-weight: 600; font-style:italic; }

	.Middle_sec #Rightside { padding-top: 115px;  width: 46.6%; float: right; }
	.Middle_sec #Rightside ul { list-style: none; margin: 0px; }
	.Middle_sec #Rightside li { float: none; padding: 0px 0px 152px 0px; margin: 0px; display: inline-block; }
	.Middle_sec #Rightside li:last-child { padding-bottom: 0px; }
	.Middle_sec #Rightside li .Industrial { padding-top: 4px;  float: left; }
	.Middle_sec #Rightside li .Information { width: 54.5%; float: right; }
	.Information a { color: #fff; }
	.Middle_sec #Rightside li .Information h4 { font-size: 24px; color: #00b3ae; font-family: 'Open Sans', sans-serif; font-weight: 700; margin: 0px; text-transform:uppercase; line-height: 28px; }
	.Middle_sec #Rightside li .Information h4 span { display: block; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300;}
	.Middle_sec #Rightside li .Information p { padding: 18px 0px 16px 0px; font-size: 14px; margin: 0px; color: #8a929f; font-family: 'Open Sans', sans-serif; font-weight: 400;  }
	.Middle_sec #Rightside li .Information ul { list-style: none; }
	.Middle_sec #Rightside li .Information li { float: left; padding: 0px; margin: 0px 12px 0px 0px; }
	.Middle_sec #Rightside li .Information li a { font-size: 15px; background: #1c77c6; color: #fff; width: 28px; height: 28px; display: block; text-align: center; line-height: 28px; text-decoration: none; }
	.Middle_sec #Rightside li .Information li a .fa-twitter { font-size: 15px; width: 28px; height: 28px; display: block; line-height: 28px; background: #00bff0; }
	.Middle_sec #Rightside li .Information li a .fa-rss { font-size: 15px; width: 28px; height: 28px; display: block; line-height: 28px; background: #ffb100; }






    /* Responsive */

    @media only screen and (min-width: 1025px) and (max-width: 1250px) {
	
	

        #Container { width: 100%; }
        
        .Middle_sec { width: 100%; padding: 0px 0px 0px 0px; }
        .Middle_sec .Center { width: 100%; padding: 0px 2% 0px 0% ; }
        .Middle_sec #Leftside .Client1 { left: 37.5%; }
        
        }	
    
    
    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
    
        
    
        
        #Container { width: 100%; }
        
        .Middle_sec { width: 100%; padding: 0px 0px 0px 0px; background: none; }
        .Middle_sec .Center { width: 100%; }
        .Middle_sec #Leftside { padding: 0px 99px; width: 100%; float: none; background: #222a35 url(../assets/Client-left-bg.jpg) top center no-repeat;  }
        .Middle_sec #Leftside .Client1 { left:37.2%; top: 186px; }
        
        .Middle_sec #Rightside { margin-top: -1px; padding: 0px 113px 100px ; width: 100%; float: none; background: #2c3545; }
        .Middle_sec #Rightside li { padding: 94px 0px 0px 0px; }
        
        
    
        }
    
    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    
        
        #Container { width: 100%; }
        
        .Middle_sec { width: 100%; padding: 0px; background: none; }
        .Middle_sec .Center { width: 100%; }
        .Middle_sec #Leftside { padding: 0px 0px;  width: 100%; float: none; background: url(../assets/Client-left-bg.jpg) top center no-repeat; }
        .Middle_sec #Leftside .Client { margin-top: 0px; padding: 106px 65px 0px 65px; width: 306px; height: 306px; background-size: 100%; }
        .Middle_sec #Leftside .Client2 { padding: 106px 65px 0px 65px; margin: 5px 0 0; width: 306px; height: 306px; background-size: 100%;}
    
        .Middle_sec #Leftside .Client1 { left: 33.2%; top: 155px; padding: 66px 65px 0px 65px; width: 306px; height: 306px; background-size: 100%;}
        
        .Middle_sec #Rightside { margin-top: -1px; padding: 0px 6%; width: 100%; text-align: center; float: none; background: #2c3545; }
        .Middle_sec #Rightside li { padding: 94px 0px; }
        .Middle_sec #Rightside li:last-child { padding-bottom: 94px; }
        .Middle_sec #Rightside li .Industrial { float: none; }
        .Middle_sec #Rightside li .Industrial img { margin: auto; padding-bottom: 30px; }
        
        .Middle_sec #Rightside li .Information { width: 100%; margin: auto; }
        .Middle_sec #Rightside li .Information li { float: none; display: inline-block; }
        
        
    }
    
    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
    
        
        
    
        #Container { width: 100%; }
        
        .Middle_sec { width: 100%; padding: 0px; background: none; }
        .Middle_sec .Center { width: 100%; }
        .Middle_sec #Leftside { text-align: center; padding: 0px 0px;  width: 100%; float: none; background: #222a35 url(../assets/Client-left-bg.jpg) top center no-repeat; }
        .Middle_sec #Leftside .Client { margin: auto; margin-top: 0px; padding: 106px 65px 0px 65px; width: 333px; height: 333px; background-size: 100%; }
        .Middle_sec #Leftside .Client2 { margin: auto; padding: 106px 65px 0px 65px; width: 333px; height: 333px; background-size: 100%;}
    
        .Middle_sec #Leftside .Client1 { margin: auto; left: 0%; top: 0px; position: relative; padding: 66px 65px 0px 65px; width: 333px; height: 333px; background-size: 100%;}
        
        .Middle_sec #Rightside { margin-top: -1px; padding: 0px 6%; width: 100%; text-align: center; float: none; background: #2c3545; }
        .Middle_sec #Rightside li { padding: 94px 0px; }
        .Middle_sec #Rightside li:last-child { padding-bottom: 94px; }
        .Middle_sec #Rightside li .Industrial { float: none; }
        .Middle_sec #Rightside li .Industrial img { margin: auto; padding-bottom: 30px; }
        
        .Middle_sec #Rightside li .Information { width: 100%; margin: auto; }
        .Middle_sec #Rightside li .Information li { float: none; display: inline-block; }
        
        
        
    }
     /* team */



     
.our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
   background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
.our-team {
    padding: 30px 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
}
.our-team:hover{
    border-bottom: 5px solid #2f2f2f;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #017a9a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
 height: 100%;
    background: #2f2f2f; 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
    background: #017a9a;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #2f2f2f;
    background: #f7f5ec;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}